.auth {
    margin: 3rem 0;
}

.auth__container {
    max-height: 12rem;
    max-width: 30rem;
}

.auth-title {
    text-align: center;
    margin: 10px 0;
    font-size: 2rem;
}

.auth__form {
    display: flex;
    flex-direction: column;
}

.form__input {
    margin: 5px 0px 0px 0px;
}

.form__button {
    align-self: center;
    margin: 5px 0px 0px 0px;
    color: white;
    background-color: #FF7B47;
    border: 1px solid #FF7B47;
    transition: all 0.3s ease 0s;
}

.form__button:hover {
    border: 1px solid #FF7B47;
    background-color: #fff;
    color: #FF7B47;
}

.form__button:active {
    box-shadow: inset 0 0 15px #FF7B47;
}